extends layout

block body
  nav
    include nav_links
  block content
  footer
    | &copy;
    | <author itemprop="copyrightHolder" rel="http://mikkokivela.com">Mikko Kivelä</author>
    | <span itemprop="copyrightYear">#{date.format("YYYY")}</span>
