doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Mikko Kivelä is a developer and designer of accessible web and app experiences')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Mikko Kivelä
    link(rel='stylesheet', href='/stylesheets/app.css')
    <!--[if lt IE 9]>
    <script src="/javascripts/html5shiv.min.js"></script>
    <![endif]-->
    script(type="text/javascript", src="http://fast.fonts.net/jsapi/f5dc34d3-e5ae-4fd4-a647-0edc6acc7954.js")
  body(class="#{currentPage()}")
    block body
    script(type="text/javascript", src="/javascripts/app.js", async=true)
    block scripts
