ul
  li
    a(itemprop="sameAs" href="https://twitter.com/woochism") Twitter
  li
    a(itemprop="sameAs" href="https://facebook.com/woochism") Facebook
  li
    a(itemprop="sameAs" href="https://plus.google.com/u/0/116404079150804201351") Google+
  li
    a(itemprop="sameAs" href="https://linkedin.com/in/mikkokivela") LinkedIn
