extends layouts/cover

block content
  header.feature
    .feature-content(itemscope itemtype="http://schema.org/Person")
      link(href="http://mikkokivela.com" itemprop="url")
      h1.feature-title
        | This Is Mikko:<br>
        span(itemprop="jobTitle") Developer & Designer
      h2.feature-subtitle
        | <span itemprop="name">Mikko Kivelä</span>
        | is a builder of accessible web and app experiences.<wbr>
        | Currently living in
        | <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        | <span itemprop="addressLocality">Helsinki</span>,
        | <span itemprop="addressCountry">Finland</span>
        | </span>
        | and <strong>looking for projects</strong>.
      a.button(href="mailto:hello@mikkokivela.com") Write an email
