doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    section#sidebar
    section#page
      block header
      section#content
        block content
        #content-footer
      footer#footer
        | Footer content
