extends ../layouts/error

block content
  h1.error-title Page not found.
  p.error-description
    | Check the page URL for any typing errors.
    | If you came here through a link, please report the link to
    | <a href="mailto:hello@mikkokivela.com">hello@mikkokivela.com</a>.
