html
  font-size: 100%

%base-font
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height
  color: $text-color

body
  height: 100%
  margin: 0
  padding: 0
  font-family: $base-font-family
  font-size: $base-font-size
  line-height: $base-line-height
  color: $text-color
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  font-smoothing: antialiased

%header
  font-family: $header-font-family
  font-weight: $header-font-weight
  color: $header-color

h1
  @extend %header
  +adjust-font-size-to($h1-font-size, 3)
  margin: rhythm(2) 0 rhythm(1)

h2
  @extend %header
  +adjust-font-size-to($h2-font-size, 2)
  margin: rhythm(2) 0 rhythm(1)

h3
  @extend %header
  +adjust-font-size-to($h3-font-size, 1)
  margin: rhythm(1) 0

h4
  @extend %header
  +adjust-font-size-to($h4-font-size)
  margin: rhythm(1) 0

h5
  @extend %header
  +adjust-font-size-to($h5-font-size)

h6
  @extend %header
  +adjust-font-size-to($h6-font-size)

p, ul, ol, pre, table, blockquote
  margin: rhythm(1) 0

a
  +link-colors($link-color, $link-color-hover, $link-color-active, $link-color-visited, $link-color-focus)
  transition: all 0.2s
  text-decoration: none

hr
  display: block
  margin: rhythm(3) 0
  border: 1px inset $gray-lighter
  background: $white
  opacity: 0.5

.inline-list
  +clearfix
  list-style: none
  margin-bottom: 0
  padding: 0

  > li
    float: left
    margin: 0 rhythm(2) 0 0

.text-center
  text-align: center
